packages:
  yum:
    postgresql-devel: []         # For psycopg2
    gcc: []                      # For compiling dependencies
    python3-devel: []            # For compiling Python C extensions
    libffi-devel: []             # For cryptography
    openssl-devel: []            # For cryptography and pyOpenSSL
    openldap-devel: []           # For python-ldap
    libjpeg-turbo-devel: []      # For image processing libraries like Pillow
    zlib-devel: []               # For image compression support
